keybinds clear-defaults=true {
    normal {
        bind "h" "Left" { MoveFocus "Left"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "l" "Right" { MoveFocus "Right"; }

        bind "Ctrl h" { MovePane "Left"; }
        bind "Ctrl j" { MovePane "Down"; }
        bind "Ctrl k" { MovePane "Up"; }
        bind "Ctrl l" { MovePane "Right"; }
    }
    locked {
        bind "Alt q" "Alt ;" { SwitchToMode "normal"; TogglePaneFrames; }
        bind "Ctrl a" "Ctrl b" { SwitchToMode "tmux"; TogglePaneFrames; }
    }
    pane {
        bind "h" { MovePane "Left"; }
        bind "j" { MovePane "Down"; }
        bind "k" { MovePane "Up"; }
        bind "l" { MovePane "Right"; }

        bind "H" { Resize "Left"; }
        bind "J" { Resize "Down"; }
        bind "K" { Resize "Up"; }
        bind "L" { Resize "Right"; }

        bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
        bind "Ctrl l" { MoveFocus "Right"; }

        bind "n" { NewPane "Down"; SwitchToMode "normal"; SwitchToMode "renamepane"; }
        bind "N" { NewPane "Right"; SwitchToMode "normal"; }

        bind "q" { CloseFocus; SwitchToMode "normal"; }

        bind "c" { SwitchToMode "renamepane"; }
    }
    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "normal"; }
    }
    tab {
        bind "n" { NewTab; SwitchToMode "renametab"; }
        bind "N" { NewTab; }
        bind "a" { ToggleActiveSyncTab; }
        bind "A" { ToggleActiveSyncTab; SwitchToMode "locked"; TogglePaneFrames; }
        bind "q" { CloseTab; SwitchToMode "normal"; }
        bind "h" { GoToPreviousTab; }
        bind "j" { GoToNextTab; }
        bind "k" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }
        bind "c" { SwitchToMode "renametab"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "normal"; }
    }
    resize {
        bind "h" { Resize "Left"; }
        bind "j" { Resize "Down"; }
        bind "k" { Resize "Up"; }
        bind "l" { Resize "Right"; }

        bind "H" { Resize "Left"; Resize "Left"; Resize "Left"; Resize "Left"; Resize "Left"; }
        bind "J" { Resize "Down"; Resize "Down"; Resize "Down"; Resize "Down"; Resize "Down"; }
        bind "K" { Resize "Up"; Resize "Up"; Resize "Up"; Resize "Up"; Resize "Up"; }
        bind "L" { Resize "Right"; Resize "Right"; Resize "Right"; Resize "Right"; Resize "Right"; }

        bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
        bind "Ctrl l" { MoveFocus "Right"; }
    }
    entersearch {
        bind "Ctrl i" "Alt i" { SearchToggleOption "CaseSensitivity"; }
        bind "Ctrl w" "Alt w" { SearchToggleOption "Wrap"; }
        // bind "Ctrl ," "Ctrl ." { SearchToggleOption "WhileWord"; }

        bind "Enter" { SwitchToMode "search"; }
    }
    search {
        bind "n" { Search "up"; }
        bind "N" { Search "down"; }
        bind "j" { PageScrollDown; }
        bind "k" { PageScrollUp; }
        bind "J" { HalfPageScrollDown; }
        bind "K" { HalfPageScrollUp; }
    }
    scroll {
        bind "j" { PageScrollDown; }
        bind "k" { PageScrollUp; }
        bind "J" { HalfPageScrollDown; }
        bind "K" { HalfPageScrollUp; }
    }
    shared {
        bind "Alt s" { ToggleActiveSyncTab; }
        bind "Alt d" { Detach; }
        bind "Alt D" { Quit; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt n" { GoToNextTab; }
        bind "Alt p" { GoToPreviousTab; }
        bind "Alt r" { NextSwapLayout; }
        bind "Alt R" { PreviousSwapLayout; }
        bind "Alt u" { PageScrollUp; }
        bind "Alt d" { PageScrollDown; }
    }
    shared_except "locked" {
        bind "Alt q" { SwitchToMode "normal"; }
        bind "Ctrl a" "Ctrl b" { SwitchToMode "tmux"; }
        bind "Alt i" "Ctrl ;" { SwitchToMode "locked"; TogglePaneFrames; }
    }
    shared_except "tmux" "entersearch" "renamepane" "renametab" "locked" {
        bind "Esc" ";" "Enter" { SwitchToMode "locked"; TogglePaneFrames; }
        bind "m" "w" { SwitchToMode "normal"; }
        bind "/" { SwitchToMode "entersearch"; }
        bind "s" { SwitchToMode "pane"; }
        bind "S" { NewPane "down"; }
        bind "t" { SwitchToMode "tab"; }
        bind "T" { NewTab; }
        bind "u" { SwitchToMode "scroll"; }
        bind "r" { SwitchToMode "renamepane"; }
        bind "R" { SwitchToMode "renametab"; }
        bind "e" { EditScrollback; }
        bind "x" { CloseFocus; }
        bind "X" { CloseTab; }
        bind "d" { TogglePaneEmbedOrFloating; }
        bind "D" { ToggleFloatingPanes; }
        bind "f" "z" { ToggleFocusFullscreen; }
        bind "Tab" { ToggleTab; }
        bind "o" { FocusNextPane; }
        bind "O" { FocusPreviousPane; }
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }
        bind "0" { GoToTab 10; }
    }
    tmux {
        bind "o" { FocusNextPane; SwitchToMode "locked"; TogglePaneFrames; }
        bind "O" { FocusPreviousPane; SwitchToMode "locked"; TogglePaneFrames; }
        bind "h" { MoveFocus "Left"; SwitchToMode "locked"; TogglePaneFrames; }
        bind "j" { MoveFocus "Down"; SwitchToMode "locked"; TogglePaneFrames; }
        bind "k" { MoveFocus "Up"; SwitchToMode "locked"; TogglePaneFrames; }
        bind "l" { MoveFocus "Right"; SwitchToMode "locked"; TogglePaneFrames; }
        bind "\"" { NewPane "Down"; SwitchToMode "locked"; TogglePaneFrames; }
        bind "%" { NewPane "Right"; SwitchToMode "locked"; TogglePaneFrames; }
        bind "x" { CloseFocus; SwitchToMode "locked"; TogglePaneFrames; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "locked"; TogglePaneFrames; }
        bind "c" { NewTab; SwitchToMode "locked"; TogglePaneFrames; }
        bind "n" { GoToNextTab; SwitchToMode "locked"; TogglePaneFrames; }
        bind "p" { GoToPreviousTab; SwitchToMode "locked"; TogglePaneFrames; }
        bind "&" { CloseTab; SwitchToMode "locked"; TogglePaneFrames; }
        bind "1" { GoToTab 1; SwitchToMode "locked"; TogglePaneFrames; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; TogglePaneFrames; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; TogglePaneFrames; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; TogglePaneFrames; }
        bind "5" { GoToTab 5; SwitchToMode "locked"; TogglePaneFrames; }
        bind "6" { GoToTab 6; SwitchToMode "locked"; TogglePaneFrames; }
        bind "7" { GoToTab 7; SwitchToMode "locked"; TogglePaneFrames; }
        bind "8" { GoToTab 8; SwitchToMode "locked"; TogglePaneFrames; }
        bind "9" { GoToTab 9; SwitchToMode "locked"; TogglePaneFrames; }
        bind "0" { GoToTab 10; SwitchToMode "locked"; TogglePaneFrames; }
        bind "," { SwitchToMode "renametab"; }
        bind "[" "]" { SwitchToMode "scroll"; }
        bind "q" { SwitchToMode "normal"; }
        bind "Q" "Esc" { SwitchToMode "locked"; TogglePaneFrames; }
        bind "d" { Detach; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

themes {
  duskfox {
    bg "#1b1029"
    fg "#b1acde"
    red "#eb6f92"
    green "#a3be8c"
    blue "#567fba"
    yellow "#f6c177"
    magenta "#e777ee"
    orange "#ea9a97"
    cyan "#7bb8c1"
    black "#373354"
    white "#c9afe5"
  }
}
theme "duskfox"
pane_frames false
default_mode "locked"
copy_command "wl-copy"
