[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:jthumpherys/nvim.git
[submodule ".local/share/zsh/plugins/zsh-completions"]
	path = .local/share/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".local/share/zsh/plugins/zsh-syntax-highlighting"]
	path = .local/share/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".local/share/zsh/plugins/zsh-bd"]
	path = .local/share/zsh/plugins/zsh-bd
	url = git@github.com:Tarrasch/zsh-bd.git
[submodule ".local/build/xremap-hypr-bin"]
	path = .local/build/xremap-hypr-bin
	url = https://aur.archlinux.org/xremap-hypr-bin
[submodule ".local/build/gtkcord4-bin"]
	path = .local/build/gtkcord4-bin
	url = https://aur.archlinux.org/gtkcord4-bin
[submodule ".local/build/rofi-lbonn-wayland-git"]
	path = .local/build/rofi-lbonn-wayland-git
	url = https://aur.archlinux.org/rofi-lbonn-wayland-git
