[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github:jade-tea-h/nvim.git
[submodule ".local/share/zsh/plugins/zsh-completions"]
	path = .local/share/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".local/share/zsh/plugins/zsh-syntax-highlighting"]
	path = .local/share/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".local/share/zsh/plugins/zsh-bd"]
	path = .local/share/zsh/plugins/zsh-bd
	url = git@github.com:Tarrasch/zsh-bd.git
[submodule ".local/build/xremap-hypr-bin"]
	path = .local/build/xremap-hypr-bin
	url = https://aur.archlinux.org/xremap-hypr-bin
[submodule ".local/build/gtkcord4-bin"]
	path = .local/build/gtkcord4-bin
	url = https://aur.archlinux.org/gtkcord4-bin
[submodule ".local/build/rofi-lbonn-wayland-git"]
	path = .local/build/rofi-lbonn-wayland-git
	url = https://aur.archlinux.org/rofi-lbonn-wayland-git
[submodule ".local/build/hyprshot"]
	path = .local/build/hyprshot
	url = https://aur.archlinux.org/hyprshot
[submodule ".local/build/hyprland-nvidia-git"]
	path = .local/build/hyprland-nvidia-git
	url = https://aur.archlinux.org/hyprland-nvidia-git
[submodule ".local/build/multimc-bin"]
	path = .local/build/multimc-bin
	url = https://aur.archlinux.org/multimc-bin
[submodule ".local/build/steam/protontricks"]
	path = .local/build/protontricks
	url = https://aur.archlinux.org/protontricks.git
[submodule ".local/build/steam/python-vdf"]
	path = .local/build/python-vdf
	url = https://aur.archlinux.org/python-vdf.git
[submodule ".local/build/gimp/gimp-git"]
	path = .local/build/gimp-git
	url = https://aur.archlinux.org/gimp-git.git
[submodule ".local/build/gimp/libart-lgpl"]
	path = .local/build/libart-lgpl
	url = https://aur.archlinux.org/libart-lgpl.git
[submodule ".local/build/discord_fonts/ttf-twemoji"]
	path = .local/build/discord_fonts/ttf-twemoji
	url = https://aur.archlinux.org/ttf-twemoji.git
[submodule ".local/build/discord_fonts/font-symbola"]
	path = .local/build/discord_fonts/font-symbola
	url = https://aur.archlinux.org/font-symbola.git
