[submodule "zsh-completions"]
	path = common/.local/share/zsh/plugins/completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh-syntax-highlighting"]
	path = common/.local/share/zsh/plugins/syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-bd"]
	path = common/.local/share/zsh/plugins/bd
	url = git@github.com:Tarrasch/zsh-bd.git
