layout {
    tab name="scada" cwd="projects/iiottti-scada" focus=true split_direction="horizontal" {
        pane focus=true size="90%"
        pane size="10%"
    }
    tab name="nvim-plugins" cwd=".dotfiles/common/.config/nvim/lua/plugins" {
        pane
    }
    tab name="update" split_direction="horizontal" {
        pane size="25%" command="sudo" {
            args "pacman" "-Syu"
            start_suspended true
        }
        pane size="25%" cwd=".local/build"
        pane size="50%" {
            pane cwd="/usr/local/src/neovim" command="git" {
                args "switch" "-"
                args "pull"
                args "checkout" "nightly"
            }
            pane cwd="/usr/local/src/neovim" {
                command "make"
                command "sudo make"
                args "install"
                start_suspended true
            }
        }
    }
}
